body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Tahoma, 'sans-serif';
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
}

.header ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

a {
  text-decoration: none;
}

.footer {
  color: white;
  background-color: #1F2937;
  text-align: center
}

.hero-container {
  display: flex;
  border: 2px solid red;
  flex: 1;
}

.hero-image {
  border: 2px solid red;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-header {
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
  text-align: center;
}

.info-container {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid red;
  flex: 1;
}

.info {
  border: 2px solid red;
}

.quote {
  background-color: #E5E7EB;
  text-align: center;
  flex: 1;
}

.action-container {
  display: flex;
  border: 2px solid red;
  flex: 1;
  
  margin: 0px 300px;
  align-items: center;
  justify-content: center;
  background-color: blue;
}

.action {
  color: white;
  border: 2px solid red;
  
}

.action-container .signup {
  border: 5px solid red;
  border-radius: 8px;
  padding: 5px 25px;
}